
body{
  background-color: red!important;
}
.me-auto{
  /* margin-left: auto;
  justify-items: flex-end; */
  background-color: blue !important;
   color: white!important;
  
}

.blood{
    border-radius: 1px!important;
}
